<div class="credit-rating">
  <section class="section-one">
    <div class="container_flex">
      <div class="left-side">
        <h1 class="left-side__title">Узнайте бесплатно свой кредитный рейтинг</h1>
        <p class="left-side__text">Наше приложение рассчитает для вас кредитный рейтинг на основе вашей кредитной
          истории</p>
        <a class="left-side__href-btn" href="#">Рассчитать бесплатно</a>
      </div>
      <div class="right-side">
        <img class="img" src="../../assets/img/intro-logo.svg" alt="img-rating">
      </div>
    </div>
  </section>
  <section class="section-two">
    <div class="container">
    <h2 class="section-two__title">Для чего нужен кредитный рейтинг?</h2>
    </div>
  </section>
  <section class="section-three">
    <div class="container_flex">
    </div>
  </section>
</div>

