<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <nav class="navigate">
        <div class="navigate__burger" (click)="burgerToggle = !burgerToggle" [class.open]="burgerToggle">
          <span></span>
        </div>
        <ul class="navigate__list">
          <li class="navigate__item" routerLinkActive="active"><a routerLink="/credit-calculator" class="navigate__link">Кредитный калькулятор</a></li>
          <li class="navigate__item" routerLinkActive="active"><a routerLink="/credit-rating" class="navigate__link">Кредитный рейтинг</a></li>
          <li class="navigate__item" routerLinkActive="active"><a routerLink="/microloans" class="navigate__link">Микрозаймы</a></li>
          <li class="navigate__item" routerLinkActive="active"><a routerLink="/special-offers" class="navigate__link">Специальные предложения</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
