.container {
  margin-top: 16px;
  margin-bottom: 36px;
}

.bar {
  height: 15px;
  display: flex;
  width: 100%;

  .bar-credit {
    background: rgb(46, 204, 113);
    border-radius: 50px 0 0 50px;
  }

  .bar-overpay {
    background: rgb(255, 201, 46);
    border-radius: 0 50px 50px 0;
  }
}
