<div class="credit-calculator">
  <div class="container">
    <div class="header">
      <h1 class="header__title">Кредитный калькулятор</h1>
      <p class="header__text">Здесь вы можете рассчитать сумму кредита, сравнить предложения по размеру ежемесячного
        платежа, сумме
        переплаты, процентной ставке.</p>
    </div>
    <div class="credit-calculator__wrapper">
      <div class="credit-calculator__form">
        <div class="credit-calculator__left-side">
          <div class="one-input-per-line">
            <label for="sum-credit">Сумма кредита</label>
            <input type="text" id="sum-credit" maxlength="11" [(ngModel)]="inputSumValue" (change)="recount()">
          </div>
          <div class="two-input-per-line">
            <div class="two-input-per-line__one-input">
              <label for="time">Срок</label>
              <select name="select" id="time" (change)="recount()">
                <option value="" disabled selected>Выберите срок кредита</option>
                <option *ngFor="let x of creditDuration" [value]="x">{{x.title}}</option>
              </select>
            </div>
            <div class="two-input-per-line__two-input">
              <label for="rate">Ставка, %</label>
              <input type="text" id="rate" [(ngModel)]="inputRate" (change)="recount()">
            </div>
          </div>
        </div>
        <div class="credit-calculator__right-side">
          <div class="color-bar">
            <div class="color-bar__designation">
              <div class="color-bar__credit">
                <span class="credit__dot"></span>
                <span class="color-bar__text">Кредит</span>
              </div>
              <div class="color-bar__overpayment">
                <span class="overpayment__dot"></span>
                <span class="color-bar__text">Переплата</span>
              </div>
            </div>
            <div class="color-bar__strip" >
              <span class="credit" [ngStyle]="{flexBasis: inputSumValue / totalPayout * 100 + '%'}"></span>
              <span class="overpayment"></span>
            </div>
          </div>
          <div class="credit-calculator__calculations">
            <h2>Результаты расчета</h2>
            <div class="table-results">
              <ul class="table-results__list">
                <li class="table-results__item">
                  <span class="table-results__key">Ежемесячный платеж</span>
                  <span class="table-results__value">{{monthlyPayment}} ₽</span>
                </li>
                <li class="table-results__item">
                  <span class="table-results__key">Переплата по кредиту</span>
                  <span class="table-results__value">{{overpaymentCredit}} ₽</span>
                </li>
                <li class="table-results__item">
                  <span class="table-results__key">Общая выплата</span>
                  <span class="table-results__value">{{totalPayout}} ₽</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="credit-calculator__button">
        <button class="button__payment-schedule">Расскрыть график платежей</button>
      </div>
    </div>
  </div>
</div>
