<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>BankCalculator</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <app-root></app-root>
</body>
</html>
<!--<div class="_container">-->
<!--  <header class="header-region">-->
<!--    <div class="layout-header">-->
<!--      <div class="text-block">-->
<!--        <h1>Кредитный калькулятор</h1>-->
<!--        <p>Здесь вы можете рассчитать сумму кредита, сравнить предложения по размеру ежемесячного платежа, сумме-->
<!--          переплаты, процентной ставке.</p>-->
<!--      </div>-->
<!--      <div class="logo-block">-->
<!--        <img src="../assets/img/The-World-Bank-logo.png" alt="logo">-->
<!--      </div>-->
<!--    </div>-->
<!--  </header>-->
<!--  <div class="panel">-->
<!--    <div class="calculator">-->
<!--      <div class="left-side">-->
<!--        <div class="layout-left-block">-->
<!--          <div class="input-fields">-->
<!--            <div class="layout-sum-credit">-->
<!--              <input placeholder="Сумма кредита" maxlength="11" [(ngModel)]="inputSumValue" (change)="recount()">-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="two-input">-->
<!--            <div class="layout-per-cof">-->
<!--              <div class="period">-->
<!--                <label>Срок</label>-->
<!--                <select (selectionChange)="recount()" [(value)]="duration">-->
<!--                  <option *ngFor="let x of creditDuration" [value]="x">{{x.title}}</option>-->
<!--                </select>-->
<!--              </div>-->
<!--              <div class="coefficient">-->
<!--                <input placeholder="Ставка, %" [(ngModel)]="inputCofValue" (change)="recount()">-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="right-side">-->
<!--        <div class="layout-right-block">-->
<!--          <div class="layout-result">-->
<!--            <div class="horizontal-diagram">-->
<!--              <div class="description">-->
<!--                <div class="layout-credit">-->
<!--                  <span class="tochka-credit"></span>-->
<!--                  <span class="text-type1">Кредит</span>-->
<!--                </div>-->
<!--                <div class="layout-overpayment">-->
<!--                  <span class="tochka-over"></span>-->
<!--                  <span class="text-type1">Переплата</span>-->
<!--                </div>-->
<!--              </div>-->
<!--              <app-color-bar [percent]="overpaymentCredit / totalPayout * 100"></app-color-bar>-->
<!--            </div>-->
<!--            <div class="result">-->
<!--              <h2>Результаты расчета</h2>-->
<!--              <ul>-->
<!--                <li>-->
<!--                  <span class="text-type2">Ежемесячный платеж</span>-->
<!--                  <div><b>{{numberWithCommas(monthlyPayment.toFixed())}}₽</b></div>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <span class="text-type2">Переплата по кредиту</span>-->
<!--                  <div><b>{{numberWithCommas(overpaymentCredit.toFixed())}}₽</b></div>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <span class="text-type2">Общая выплата</span>-->
<!--                  <div><b>{{numberWithCommas(totalPayout.toFixed())}}₽</b></div>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="bottom-side">-->
<!--      <div class="layout">-->
<!--        <div class="text"><p>Получить персональные предложения банков на сумму <b>{{inputSumValue}} ₽</b></p>-->
<!--        </div>-->
<!--        <div class="button">-->
<!--          <button (click)="switch()"-->
<!--                  [disabled]="!isButtonEnabled()">График платежей-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="payment-schedule" id="schedule" *ngIf="status">-->
<!--    <div class="header-schedule">-->
<!--      <h2>График платежей</h2>-->
<!--      <span>Сумма кредита:</span><span><b>{{inputSumValue}}₽</b></span>-->
<!--      <span>Срок:</span><span><b>{{duration.title}}</b></span>-->
<!--      <span>Ставка:</span><span><b>{{inputCofValue}}%</b></span>-->
<!--    </div>-->
<!--    <div class="table-payment">-->
<!--      <table class="calc_graf">-->
<!--        <tr>-->
<!--          <th>Дата</th>-->
<!--          <th>Остаток, ₽</th>-->
<!--          <th>Проценты, ₽</th>-->
<!--          <th>Погашено, ₽</th>-->
<!--          <th>Платеж, ₽</th>-->
<!--        </tr>-->
<!--        <tr *ngFor="let y of chartPayments; let i = index">-->
<!--          <td>{{y.numberPayment}}<br><span>{{date}} г.</span></td>-->
<!--          <td>{{y.residue}}</td>-->
<!--          <td>{{y.percent}}</td>-->
<!--          <td>{{y.payOut}}</td>-->
<!--          <td>{{numberWithCommas(+monthlyPayment.toFixed())}}</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td colspan="2">Итого</td>-->
<!--          <td>0</td>-->
<!--          <td>0</td>-->
<!--          <td>{{numberWithCommas(+totalPayout.toFixed())}}₽</td>-->
<!--        </tr>-->
<!--      </table>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
